.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F4F4F4;
  }
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .registerContainer {
    background-color: darkcyan;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .registerContainer:hover {
    background-color: rgb(2, 119, 119);
  }
  .input {
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  .invalidInput {
    border-color: red;
  }
  .forgotPassword {
    color: darkcyan;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .forgotPassword:hover {
    text-decoration: underline;
  }
  .errorMessage {
    color: red;
    margin-bottom: 20px;
  }
  .loginButton {
    background-color: darkcyan;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .loginButton:hover {
    background-color: darkcyan;
  }